<div id="photo-carousel-wheel">
<!--   <div class="box-text">
    <h4>Recent Photos</h4>
    <h6><%= link_to("Photo Galleries", galleries_path) %></h6>
  </div> -->
  <div id="photo-carousel-container">
    <%= image_tag(@first_carousel_picture.image_url.to_s, :class => "show") %>
 <% @carousel_pictures.each do |carousel_picture| %>
      <%= image_tag(carousel_picture.image_url.to_s) %>
    <% end %>
  </div>
</div>
