 <%= form_for :guest, :url => {:action => :create, :controller => :guests} do |f| %>
	<fieldset>
		<legend>Register For Email Alerts</legend>
		<div id="name">
			<%= f.text_field :name, label: false, placeholder: "Name" %>
		</div>
		<div id="email">
			<%= f.text_field :email, label: false, placeholder: "Email Address" %>
		</div>
	</fieldset>
	<fieldset id="signin-button">
		<%= f.submit "Sign Up", class: "btn btn-medium btn-primary" %>
	</fieldset>	
<% end %>