 <label>Sign Up For Email Alerts:  </label>
 <%= form_for :guest, :url => {:action => :create, :controller => :guests} do |f| %>
			<%= f.text_field :name, label: false, placeholder: "Name" %>
			<%= f.text_field :email, label: false, placeholder: "Email Address" %>
		<%= f.submit "Sign Up", class: "btn btn-medium btn-primary" %>

<% end %>