<label>Sign Up For Email Alerts:  </label>
    <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" method="post" target="blank">
	<input type="hidden" name="m" value="1103157500718">
    <input type="hidden" name="p" value="oi">
    <input type="text" name="ea" placeholder="Your Email Address">
    <input type="submit" value="Sign Up" class="btn btn-medium btn-primary">
</form>



