<div id="video">
<!--   <div class="box-text">
    <h4><%= @video.title %></h4>
    <h6><%= @video.video_date.strftime("%A %b %d") %></h6>
  </div> -->
  <div id="video-container">
    <iframe src="<%= @video.link %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
