<% provide(:title, 'About Tim') %>
	<div class="span12" id="about-tim"><!-- <div class="tabbable"> -->
		 <!-- <ul class="nav nav-tabs">
			<li class="active"><a href="#pane1" data-toggle="tab">About Tim</a></li>
			<li><a href="#pane2" data-toggle="tab">Tim's Vision</a></li>
		</ul> -->
		<div id="tim-content">
			<h2 class="center">About Tim</h2>
<!-- 			<div class="tab-content">
 --><!-- 				<div id="pane1" class="tab-pane active">
 -->					<p>
						Tim was first elected to represent the 4th Ward in the southwest neighborhood in Hoboken, NJ winning a special election on November 2, 2010. Six months later he was reelected to a full, four-year term on May 10, 2011.
					</p>
					<br>
					<p>
						Tim passionately serves his constituents fighting for improved services, cleaner neighborhoods, and reduced governmental spending. He campaigned on upgrading playground equipment in two long-standing but often overlooked parks in the 4th Ward. Tim delivered on those promises when the Jackson Street Park and Jefferson Street Park were reopened in early 2012..
					</p>
					<br>
					<p>
						Tim championed the renovation of the Hoboken Housing Authority’s Mama Johnson Field. He fought for and secured funding for these upgraded and new parks through a Parks Maintenance Bond passed unanimously by the City Council in the spring of 2011. The beautiful new field turf, dugouts, and batting cages were unveiled in the Fall of 2012.
					</p>
					<br>
					<p>
						Tim was born and raised in Rockland County, New York where he grew up the youngest of three siblings. He attended the University of Virginia and graduated with a Bachelor of Arts in Government in 1999.
					</p>
					<br>
					<p>
						For the past eight years Tim has been working for an asset management company in Information Technology. Currently, he is an Application Support Analyst supporting the firm’s buy-side trading desk. Tim has also held roles as a Client Service Manager and End User Specialist for Fixed Income.
					</p>
					<br>
					<p>
						In 2009, Tim founded Hoboken Volunteers, a non-profit organization providing an online clearinghouse where local residents can connect with organizations, foundations, and groups who require the assistance of volunteers.
					</p>
					<br>
					<p>
						Over the course of his life and career Tim has learned a commitment to excellence, a willingness to listen to differing opinions to achieve a common goal, and has learned to make the right decisions in the face of adversity.
					</p>
					<br>
					<p>
						Tim is committed to the residents of the 4th Ward. Tim believes the greatest reward is to serve with honor and integrity combining balance, progress, and innovation to meet the challenges and needs of 4th Ward constituents.			
					</p>
				<!-- </div>
				<div id="pane2" class="tab-pane">
					<p>
						<b>Communication & Constituent Services</b>
					</p>
					<p>
						Communication is a vital component to any successful organization and Tim has made it a cornerstone of his term in office. In order to be effective, your representative must be in tune with the issues and concerns facing the 4th Ward.
					</p>
					<br>				
					<p>
						Tim is the most active member of the city council, meeting with constituents daily, hearing their concerns, and taking action.
					</p>
					<br>
					<p>
						Tim’s monthly newsletter to 4th ward residents keeps them apprised of issues pertaining to the ward and the city. These newsletters serve as a status report on current legislation and how it affects residents. Tim has also used this database of residents to warn the 4th Ward of emergency events occurring in the city, including flooding, major traffic alerts, and any potential health related warnings. To receive the newsletters just sign up on the home page.
					</p>
					<br>
					<p>
						Tim has made it a priority to attend Hoboken Housing Authority meetings as a member of the public. He has also been meeting with small groups as requested.
					</p>
					<br>
					<p>
						Tim believes in being an independent voice for the 4th Ward and the only way to make that happen is with an open and direct line of communication between residents and thjeir elected 4th Ward Councilman.
					</p>
					<br>
					<p>
						Tim doesn’t believe that any one party has all the answers when it comes to doing what’s in the best interest of the 4th Ward. Everyone deserves to have their views heard, and Tim will fight to make sure residents have a representative who refuses to be pulled into the partisan politics that have plagued Hoboken for so many years. Collapse…
					</p>
					<br>
					<p>
						<b>Commitment</b>
					</p>
					<p>
						Tim believes in a commitment to excellence in all aspects of his life: personal, professional, or public. Taking pride in his work, no matter how big or small the task is before him, Tim always puts forth 100% effort. There are many challenges facing the 4th Ward that will take several years to accomplish and Tim will see these challenges through to completion.
					</p>
					<br>
					<p>						
						<b>Business Development</b>
					</p>
					<p>
						Tim Occhipinti supports all business owners in Hoboken. Small businesses, in particular, play a vital role in the economic growth and development in our neighborhoods. They are the lifeblood of our community, providing jobs, food, retail goods and key services that support the daily lives of residents in the 4th Ward.		
					</p>
					</div>
		</div></div> -->
	</div>
</div>
