<% provide(:title, 'About Tim') %>
<div id="about-tim">
	<p>
		Tim was born and raised in Rockland County, New York where he grew up the youngest of three siblings. He attended the University of Virginia and graduated with a Bachelor of Arts in Government in 1999.
	</p>
	<br>
	<p>
		During his time at the University of Virginia, Tim was a Transfer Student Peer Advisor helping new transfer students adjust to life at the university and volunteered for Habitat for Humanity.
	</p>
	<br>
	<p>
		For the past six years Tim has been working for a large asset management company in Information Technology. Currently, he is an Application Support Analyst supporting the firm’s buy side trading desk. Tim has also held roles as a Client Service Manager and End User Specialist for Fixed Income.
	</p>
	<br>
	<p>
		Tim has a passion for American History and is honored to be a member of the Sons of the American Revolution. Induction requires documentation that a family member served in the Revolution. Tim’s maternal grandfather’s lineage can be traced back to Jacob Rose (born 1740) who fought in the Second Regiment of the Orange County Militia under the command of Colonel Ann Hawk Hay.
	</p>
	<br>
	<p>
		Tim is committed to serving his community. In 2009, Tim founded Hoboken Volunteers, a non-profit organization providing an online clearinghouse where local residents can connect with organizations, foundations, and groups who require the assistance of volunteers.
	</p>
	<br>
	<p>
		Hoboken Volunteer’s mission is to strengthen the community by making it easier for members of Hoboken’s community to donate their valuable time to worthwhile organizations. Hoboken Volunteer’s distributes a monthly newsletter to over 600 members highlighting volunteer, philanthropic, and fundraising opportunities in the community.
	</p>
	<br>
	<p>
		Tim is an active member of Hoboken’s Boys & Girls Club Advisory Board. Tim helped lead the charge to open the only outside public pool last summer when city funds had eliminated the program. Through fundraising and actively engaging the City Council, the Advisory Board was successful in opening the pool for the summer program for the children.
	</p>
	<br>
	<p>
		Tim is also a member of Hoboken’s Lodge 74 of The Benevolent & Protective Order of Elks where he assists in the philanthropic activities of the lodge. Tim has also joined the Hudson County Jaycees.
	</p>
	<br>
	<p>
		Over the course of his life and career Tim has learned a commitment to excellence, a willingness to listen to differing opinions to achieve a common goal, and has learned to make the right decisions in the face of adversity.
	</p>
	<br>
	<p>
		Tim is an independent candidate committed to the residents of the 4th Ward and intends to fulfill all elected terms in office. Tim believes the greatest reward one can hope to achieve is to serve public office with honor and integrity combining balance, progress, and innovation to meet the challenges and needs of 4th Ward constituents.
	</p>
</div>
