<div id="home">
    <div class="span12 hero-unit ">
        <%= render :partial => 'hero-unit' %>
    </div>
    <div class="row-fluid background-white margin-5">
        <%= render :partial => 'news_articles' %>
        <%= render :partial => 'upcoming_events' %>
    </div>
</div>

