<div id="home">

    <div id="myCarousel" data-interval="5000" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><%= image_tag('tim1.jpeg') %>
	    <div class="carousel-caption">
	        <h4>Party with a Purpose: Hoboken Strong Sandy Relief Fundraiser</h4>
	        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	    </div>
	</div>
	<div class="item"><%= image_tag('tim2.jpeg') %>
    	<div class="carousel-caption">
        	<h4>Train of Hope 2012 - Sandy Relief efforts for NJ</h4>
        	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    	</div>
    </div>
	<div class="item"><%= image_tag('tim3.jpeg') %>
    	<div class="carousel-caption">
        	<h4>Hoboken Volunteers Community Planting Day September 2012</h4>
        	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    	</div>
    </div>
	<div class="item"><%= image_tag('tim4.jpg') %>
    	<div class="carousel-caption">
        	<h4>Fourth Thumbnail label</h4>
        	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    	</div>
    </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>