<div class="legal-compliance">
	<b class="underline">Legal Compliance</b>
	<p>
		1. This contribution is made from my own personal funds and is not made from the general treasury funds of a corporation, labor organization, or national bank.
	</p>
	<p>
		2. This contribution is made on a personal credit card and not a corporate credit card or the credit card of another person.
	</p>
	<p>
		3. I understand that I may not contribute in excess of $2,600 per candidate per election.
	</p>
	<p>
		4. I certify the information provided is true and accurate to the best of my knowledge.
	</p>
</div>
