<h2>Payment Info</h2>
<p>
 	<%= f.label :card_type, "Credit Card:  " %>
    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
</p>