<%= provide(:title, 'Contribute') %>
<%= render :partial => 'contribute_links' %>
<div class="contribute">
	<div id="mail-to">
	<p>Please make checks payable to:  <span class="large-font"><b>Occhipinti for Council</b></span></p>
	<br>
	<p class="large-font underline"><b>Mail to:</b></p>
	<p class="closer-lines">
	Occhipinti for Council<br>
	79 Monroe St <br>
	Apt 2RN<br>
	Hoboken NJ 07030<br>
	</p>
	<br>
	<p><br><b>
	***Please include the following contributor information with your contribution***</b><br>
	Name<br>
	Address<br>
	Email<br>
	Occupation(If a student or retired please enter home address below.)<br>
	Employer<br>
	Employer Address<br>
	</p>

	</div>
</div>

