<% provide(:title, 'Photo Galleries') %>.

<div id="galleries">
		<%= will_paginate @gallery %>

<ul class="thumbnails">
	<% @gallery.each do |gallery| %>
		<li class="span4">
			<div class="thumbnail">
				<% @photos.each do |photo| %>
				<%= link_to image_tag(photo.image), gallery_path(gallery)%>
				<% end %>
	    		<h4><%=  gallery.name %></h4>
	    						<% if 2==2 %>
					<div class="actions">
				        <%= link_to "remove", gallery, :confirm => 'Are you sure you want to remove the whole gallery?', :method => :delete %>
	      			</div>
		        <% end %>
	    	</div>
		</li>
	<% end %>
</ul>
</div>
