<div id="galleria">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAwbUFvzN8tSHfa5TLbcWKJbFWj8_iSlbWfCSkYiihlo53s3qu6Gkoa_yM">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAwbUFvzN8tSHfa5TLbcWKJbFWj8_iSlbWfCSkYiihlo53s3qu6Gkoa_yM">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAwbUFvzN8tSHfa5TLbcWKJbFWj8_iSlbWfCSkYiihlo53s3qu6Gkoa_yM">
</div>

        <script>
Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");

            Galleria.run('#galleria');
        </script>