@import 'universal_css';

.contribute {
	@extend .gallery-form;
	margin: 0;
	background-color: darken(white,5%);
	color: black;
	height: 498px;
	#mail-to {
			padding: 5% 10%;
			.closer-lines {
			line-height: 90%;
		}
		p {
			font-size: 15px;
		}
		.large-font {
			font-size: 18px;
		}
	}
	.formtastic {
		margin-top: 40px;
		h2 {
			text-align: center;
			margin-bottom: 30px;
		}
		.fl {
			float: left;
		}
		#contribution_city_input, #contribution_employer_city_input {
			margin-left: 4%;
			width: 50%;
			label {
				width: 40%;
				text-align: right;
				#contribution_city {
					float: right;
				}
			}
		}
		#contribution_state, #contribution_employer_state {
			width: 10%;
			float: left;
			margin: 0 2%;
			height: 2%;
		}
		#contribution_zip_input, #contribution_employer_zip_input {
			width: 15%;
			input {
				width: 80%
			}
		}
		#contribution_submit_action {
			input[type="submit"] {
				padding: 10px;
				float: right;
			}
		}
		.actions {
		clear: both;
		padding-left: 35%;
		margin-top: -3%;
		}
		input[type="submit"] {
			padding: 10px;
			float: left;
			margin-right: 10px;
		}
	}
	#error_explanation {
		margin: -7% 0 1% -10%;
		max-height: 5%;

		width: 120%;;
		.alert {
			  padding: 1px 0;
			  margin-bottom:10px;
		}
		li {
			margin-left: 10;
		  	display: inline-block;
		}
	}
	.payment {
		margin-top: -20px;
		h2 {
			margin: 10px 0
		}
		input {
			margin: 0 0 2px;
			 .inline-hints {
				margin-top: -0.9em;
			}
			label {
				margin-top: 2%;
			}
		}
		#name {
		display: inline-block;
			#contribution_first_name_input, #contribution_last_name_input {
				width: 49%;
				display: inline-block;
			}
			.stringish input {
				width: 60%;
				margin-left: 2%;
			}
			.inline-hints {
				text-align: center;
				margin-top: -.3em
			}
		}
		#contribution_card_type_input {
			width: 25%;
			display: inline-block;
			float: left;
			#contribution_card_type {
				width: 65%;
			}

		}
 		#contribution_card_number_input {
			display: inline-block;
 			width: 45%;
			float: left;
			input {
				width: 60%;
			}
 		}
		#contribution_card_verification_input {
			display: inline-block;
			width: 20%;
			float:left;
			#contribution_card_verification {
				width: 50%;
				display: inline-block;
			}
		}

		#expiration {
			margin-bottom: 2%;
			label {
					display: block;
					float: left;
					padding-top: 0.2em;
					width: 25%;
					font-weight: bold;
					line-height: 14px;
					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
					vertical-align: baseline;
					white-space: nowrap;
			}
			#contribution_card_expires_on_1i {
				width: 13%;
			}
			#contribution_card_expires_on_2i {
				width: 25%;
			}
		}

		#contribution_amount_input {
			width: 130%;
			position: relative;
			right: 10%;
			.label {
				width: 0;
			}
			.choices-group {
				width: 90%;
			}
			.choice {
				margin: 0;
			}
			label {
			width: 10%;
			background-color: #F2F2F2;
			}
			.choices-group {
			padding: 0 0 0 10%;;
			}
		}
	}
	#donate-button {
		clear: both;
		margin-top: 20px;
	}
	.legal-compliance {
		background: none repeat scroll 0 0 white;
		color: black;
		font-size: 10px;
		font-weight: bold;
		margin-right: 20px;
		position: relative;
		right: 10%;
		width: 120%;
		}
		#contribution_legal_notice_input {
			label {
				display: block;
				font-weight: bold;
				margin-top: 2%;
				padding-left: 0;
				text-align: left;
			}
		}



.nav-tabs {
background-color: white;
border-bottom: 2px solid black;
a:hover {
background-color: white;
color: black;
outline: none;
border-color: transparent transparent black;
}
.active > a, .nav-tabs > .active > a:hover {
background-color: #F2F2F2;
border-color: black black #F2F2F2;
border-width: 2px;
     outline: none;
     color: black;
}
}
}
.contribute-links {
color: $gold;
font-size: 15px;
left: 650px;
margin-bottom: 30px;
position: absolute;
text-align: center;
top: 350px;
.active {
a {
color: $gold;
font-size:15px;
padding: 0 8px;
}
}
a:hover {
background-color: $gold;
color: $blue;
}
}
