@import 'universal_css';
html {
    min-height: 100%;
}

body {
    @include background-image($bottom_color: #BABCC4 ,$top_color: #193e72);
    background-size: cover;
    .container {
        min-height: 400px;
    }
}

.main-info {
    max-height: 750px;
    overflow: auto
}

.back-to-galleries{
	a {
		color: white;
	}
	.active a{
		color: white;
	}
}



p {
a {
color: $gold;
}
}

 .underline {
  text-decoration: underline;
 }
.alert {
text-align: center;
font-weight: bold;
font-size: 18px;
}

#error_explanation {
background-color: yellow;
   color: #f00;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

input[type="text"] {
color: black;
}

h1 {
text-align: center;
color: $gold;
font-size: 40px;
text-shadow: 2px 2px black;
}

.btn-primary {
    background-color: $gold;
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #193e72;
    color: #193e72;
}

.row {
margin: 0px;
}

#topline-block,  {
background-color: #2B2B2A;
margin-bottom: 10px;
.topline {
width: 940px;
margin: auto;
span {
margin: 7px 300px 0 0;
a {
color: $gold;
font-size:20px;
}
}
label, input {
float: left;
margin-left:1px;
}
label {
margin-top: 6px;
color: $gold;
font-size: 15px;
margin-right:4px;
}
.row {
padding-top: 5px;
}
#guest_name, #guest_email {
width: 150px;
}
.btn {
background-image: none;
background-color: $gold;
color: $blue;
margin-top: 1px;
}
}
}











