@import 'universal_css';

#about-tim {
	#tim-content {
		background-color: white;
		font-size:14px;
		word-spacing: 1px;
	}
	.tab-content {
		padding: 40px;
	}
	.nav {
		margin-bottom: 0;
	}
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
		border-color: black black transparent;
		border-width: 1px;
		outline: 0
	}
	.nav-tabs {
    	background-color: white;
	    border-bottom: 1px solid black;
	}
	a, a:hover{
		font-weight: bold;
		font-size: 20px;
	}
}

#admin-page {
	min-height: 500px;
	h3 {
		text-align :center;
	}
	p {
		font-size: 1em;
		margin-bottom: 1%;
		padding-left: 4%;
		a {
			color: black;
		}
	}
}

