@import "bootstrap-responsive";
$gold: #fec400;
$blue: #193e72;
$light-blue: #BABCC4;
$grey-font: #F2ECEC;

/**************************** CELL PHONE *********************************/
@media (max-width: 767px){
  html {
    font-size: 1rem;
  }
  body {
    background-image: none !important;
    background-color: white;
    line-height: 1.5em;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    font-size: 100%
  }

  .formtastic .inline-errors {
    margin: 0;
  }

  #error_explanation {
    margin: 0;
    max-height: 5%;
    width: 100%;
    height: 110px;
    .alert {
      padding: 1px 0;
      margin-bottom: 0;
    }
    li {
      margin-left: 10;
      display: inline-block;
    }
  } 
  
  #image_container {
    background-color: $blue;
    display: inline-block;
    img {
      width: 100%;
      display: inline-block;
      position: relative;
      z-index: 99;
    }
  }
  
  hr {
    border-bottom: 3px solid #193e72;
    margin: 1%;
  }
  
  h1 {
    font-size: 1.2rem
  }
  
  h2, h3, h4, h5 {
    font-size: 1.05rem;
    line-height:1.5em;
    padding: 1px;
    text-align: center;
  }
  
  .navigation-bar {
    position: relative;
    min-height: 2.7em;;
    // position: relative;
    // top: -90px;
    // height: 100%;
    .navbar {
      margin: 0;
    }
    .navbar-inner {
      background-image: none;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      .container {
      }
    }
    .icon-bar {
      width: 3px;
      margin: auto;
      background-color: $blue !important;
      box-shadow: none;
      height: 3px;
    }

    .btn {
      // margin: 6px;
      // padding: 30px 0;
      // float: right;
      // width: 30px;
      background-image: none;
      background-color: $gold;
      border: 1px solid $blue;
      border-radius: 0;
      // border: none;
      // border-radius: 0;
    }
    .btn-navbar:hover {
      background-color: $gold !important;
    }
    li {
      border: 1px inset $blue;
      background-color: $gold;
      text-align: center;
    }
    li#petition_button {
      background-color: red;
      border: none;
      a {
        color: yellow;
        text-shadow: none !important;
        // font-size: 1.4em;
      }
    }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
      color: $blue;
      // font-size: 1.4em;
      font-weight: none;
      text-shadow: none;
    }
    a:hover {
      color: $gold !important;
      background-color: $blue !important;
      text-shadow: none !important;
    }
  }

  #home {
    padding: 0;
  }

  .hero-unit {
    background-color: white;
    padding: 0;
    border-radius: 0;
    p {
      font-size: 12px;
      font-size: 1rem;
      line-height: 1.5em;
      padding: 0 10px;
      text-align: justify;
    }
  }

  .upcoming-events, .in-the-news {
    line-height: 1.5em;
    margin-bottom: 10px;
    font-size: 1rem;
    h3 {
      background-color: lightgray;
      padding: 4px 0;
    }
    #event {
      margin-bottom: 4px;
    }
    .news-date-source {
      font-size:.95rem;
      font-style: italic;
    }
    p {
      margin: 0;
      padding: 0 10px;
    }
    .news-articles {
      margin-bottom: 10px;
      padding: 0 10px;
    }
    .news-title{
      a {
        color: black;
      }
    }
  }

  footer {
    color: black;
    .navbar {
      margin:0;
      .btn-navbar {
        position: absolute;
        right: 0;
        margin: 5px;
        z-index: 1;
      }
    }
    .navbar-inner {
      background-image: none;
      background-color: lightgray !important;
      padding: 0 !important;
      min-height: 0;
      border-top: 1px solid darkgray;
      border-bottom: 1px solid darkgray;
      box-shadow: none;
      border-radius: 0;
      .brand {
        background-color: lightgrey !important;
        background-image: none;
        border-bottom: 1px solid darkgrey;
        border-top: 1px solid darkgrey;
        color: black !important;
        min-height: 0;
        padding: 0;
        text-align: center;
        width: 90%;
        font-size: 1.1rem;
        line-height: 2.6em;
        border: none;
      }
    }
    li {
      border-top: 1px solid darkgray;
      border-bottom: 1px solid darkgray;
      background-color: white;
      text-align: center;
    }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
      color: black;
      // font-size: 1.4em;
      font-weight: none;
      text-shadow: none;
    }
    a:hover {
      color: white !important;
      background-color: black !important;
      text-shadow: none !important;
    }
  }

  #tim-content, #mail, .media-page, #contact-page {
    padding: 0 10px;
  }

  .media-page, .contribute {
    ul {
      height: 36px;
    }
    #news-tab, #blog-tab {
      margin-bottom: 5px;
      p {
        font-size: 1.1rem;
        font-style: italic;
      }
      a {
        color: black;
        outline: none;
        font-size: 1.1rem;
        font-style: normal;
      }
      .media_title{
        font-weight: bold;
      }
    }
  }

  .contribute {
    padding: 0 10px;

    .nav-tabs > li > a, .nav-pills > li > a {
      padding: 3px 6px;
      font-size: .95rem;
    }
    ul {
      height: 26px;
    }
    #contribution_state, #contribution_zip_input, #contribution_employer_state, #contribution_employer_zip_input {
      width: 17%;
      margin-bottom: 10px;
    }
    .formtastic .boolean label {
      padding: 0;
    }
    .formtastic .actions {
      padding: 0;
    }
    .formtastic input {
      float: left;
    }
  }
  #contact-page, .contribute {
    margin-bottom: 10px;
    li {
      list-style: none;
    }
    .formtastic .input .label {
      background-color: transparent;
      color: black;
      text-shadow: none;
    }
    .formtastic .text textarea {
      width: 75%;
      height: 100px;
    }
    .formtastic input {
    padding: 5px;
    line-height: 1.5em;
    // font-size: 12px;
    margin-bottom: 10px;
    }
    .formtastic .input .inline-hints {
      margin: 0;
      clear: both;
    }
  }

}
/******************************* END OF CELL PHONE ******************************************/

@media (max-width: 480px){ 
  html {
    font-size: .9rem;
  }
  body {
    font-size: 100%;
  }

  // .navigation-bar {

  //   .btn {
  //     height: 0.7em;
  //     margin: 0;
  //     position: absolute;
  //     right: 0;
  //     top: 5px;
  //     z-index: 34;
  //   }
  //   .icon-bar {
  //     height: 0;
  //   }
  // }
  footer {
  .nav {
    margin-bottom: 0 !important;
    }
    .brand {
      width: 100%;
    }
  }
  .contribute {
    #contribution_state, #contribution_zip_input, #contribution_employer_state, #contribution_employer_zip_input {
      width: 50%;
    }
  }
  footer .navbar .btn-navbar {
    margin: 10px;
  }
}


@media (min-width: 768px) and (max-width: 979px){
  html {
    font-size: 1rem
  }
  body {
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
   #topline-block, {
    input[type="text"] {
    }
    input[type="submit"] {
      font-size: .8rem;
      top: 0;
    }
    label {
      font-size: .9rem
    }
  }
  .navigation-bar {
    .navbar .nav > li > a {
      font-size: .65rem;
    }
  }
  .side_bar {
    // height: 250px;
    #in-touch {
      img {
        height: 20px;
      }
    }
  }
  .side_bar #register_to_vote, #contribute-button {
    width: 97%
  }

  // .twitter-box {
  //   position: absolute;
  //   height: 600px;
  //   right: -36.5;
  //   top: 500px;

  // }
  // #twitter_feed {
  //   width: 25%;
  // }
  footer #bottom-line {
    font-size: .75rem;
  }

  #galleries .thumbnail {
    padding: 20px 0;
  }
}



@media (min-width: 1200px){
  .container-fluid {
    max-width: 1170px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 970px;
  }
}

@media (max-width: 768px) {
    .navigation-bar, .navbar-inner {
    background-color: none;
  }
  .navigation-bar {
    .background-color: #f5f5f5;
  }
  .banner_image {
    margin-top: 0;
  }
}