<div class="bottom-line">
	<div class="row">
		<ul>
			<li><%= link_to "Admin Tools", '#' %></li>
				<li><%= mail_to("sethb78@gmail.com.com", "Site by Seth B. Altshuler")%></li>
		</ul>
	</div>
</div>