<div class="bottom-line">
	<div class="row">
		<ul>
			<li> Paid for by Occhipinti for Council 79 Monroe Street Apt. 2RN Hoboken, NJ </li>
			<li><%= link_to "Admin Tools", admin_path, target: "blank" %></li>
				<li><%= mail_to("sethb78@gmail.com.com", "Site by Seth B. Altshuler")%></li>
		</ul>
	</div>
</div>