<header>
	<div class="navbar">
		<div class="navbar-inner">
			<h1> <a id="bgimage" href="http://localhost:3000/"></a></h1>
		<!--<h4>Representing The 4th Ward In Hoboken, NJ</h4>-->				
		</div>
	</div>
</header>