<header>
	<div class="navbar">
		<div class="navbar-inner">
				<div class="topline">
	<h1><span></span>Tim Occhipinti</h1>
	<!--<h4>Representing The 4th Ward In Hoboken, NJ</h4>-->

						<div class = "row pull-right">
							<!--%= render 'sessions/signinform' %>-->
						</div>					
				</div>
			</div>
	</div>
</header>