<div id="in-touch">
	<h4>STAY IN TOUCH</h4>
		<%= link_to image_tag('facebook.png'), 'https://www.facebook.com/tim.occhipinti', target: 'blank' %>
		<%= link_to image_tag('twitter.png'), 'https://twitter.com/TimOcchipinti', target: 'blank' %>
		<%= link_to image_tag('youtube.png'), 'http://www.youtube.com/user/occhipinti4hoboken?feature=watch', target: 'blank' %>
		<%= link_to image_tag('email.png'), contact_path %>
</div>


 mail_to(email_address, name = nil, html_options = {}) public 


