<div class="navigation-bar">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				 <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse_top">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
										<span class="icon-bar"></span>

				</a>
				<div class="visible-tablet">
					<%= render 'layouts/navigation_tabs' %>
				</div>
				<div class="nav-collapse_top nav-collapse">
					<%= render 'layouts/navigation_tabs' %>
				</div>
			</div>
		</div>
	</div>
</div>
