<form id="overlay_form" style="display:none">
	<div id="blanket"></div>
  <h2 class="center">Acquire Property at 1st and Jackson Streets for Public Open Space</h2>
  <div id ="petition_text">
    <p class="bold">
      Hoboken needs leaders committed to creating safe places for our children to play and for all our families to enjoy.
    </p>
    <p>
      Right now, we have the chance to make a real difference along these lines. And that's why I hope you'll click this link below and sign our petition advocating for new open space at 1st and Jackson Streets.
    </p>
    <p>
      We've already collected almost 300 signatures in a little over one week. <span class="bold"><%= link_to "On March 20th, we'll present this petition", "http://www.change.org/petitions/city-of-hoboken-acquire-property-at-1st-and-jackson-streets-for-public-open-space-2", target: "blank" %></span> to Mayor Zimmer and the City Council at that night's council meeting. I hope you'll join us that evening to let your voice be heard during the Public Comments section at the beginning of the meeting.
    </p>
    <p>
      I also want to clarify that advocating for new open space at these lots in no way infringes upon the goal for a large continuous park in the 4th Ward. These lots would be in addition to the SW6 Plan
    </p>
    <p>
      These two lots can be purchased now in addition to building the much-needed 6-acre park. <span class="bold">By purchasing and turning them into green open space for the few thousand people in the SW part of Hoboken, it in no way minimizes or undermines the urgent need for a 6 acre park in that area.</span> The $3 million grant from the Hudson County Trust Fund dedicated to open space in SW Hoboken is due to run out this summer. It was extended last summer by request of the Zimmer Administration.
    </p>
    <p>
      <span class="bold">To date, the Zimmer Administration has not spent a single dollar on acquiring new open space in the 4th Ward.</span> They have two funding mechanisms, the $3 million Hudson County Grant and the $20 million bond authorization by the City Council approved in the spring of 2011. For years, residents have been taxed by both Hudson County and the City for open space with no new parks added to our neighborhoods. 
    </p>
    <p>
      In our urban landscape, we need as much open space as possible. Especially here in Southwest Hoboken. Let's begin the process of acquiring the vacant lot and Nardine's at 1st and Jackson Street as soon as possible.
      </p>
    </div>
  <ul>
  	<li class="btn btn-medium btn-primary"><%= link_to("Sign Petition", "http://www.change.org/petitions/city-of-hoboken-acquire-property-at-1st-and-jackson-streets-for-public-open-space-2", target: 'blank') %></li>
    <li id="close"><%= link_to("close window", root_path) %></li>
  </ul>
</form>
