<form id="overlay_form" style="display:none">
	<div id="blanket"></div>
  <h2 class="center"> Acquire Property at 1st and Jackson Streets for Public Open Space?</h2>
  <div id ="petition_text">

    <p>
    Recognize the importance of open space in our urban landscape. Moreover, The Trust for Public Land’s Center for City Park Excellence recognizes that parks provide economic, ecological and social value to Hoboken, it's residents and their families.
    </p>
    <p>
    This property is located within the city's residential zone, which would allow for a developer to buy the property and begin building within the city's current zoning laws.
    </p>
    <p>
    The properties are not well maintained and have received numerous citations from the city.
    </p>
    <p>
    A fire occurred at the restaurant known as Nardine's and the structure does not bring any added value to the neighborhood.
    </p>
    <p>
    There are three day care facilities within a few blocks of this location that would utilize new public open space.
    </p>
    <p>
    We now call upon the Mayor and Council in the City of Hoboken, New Jersey to acquire the vacant property located at Block 13 Lots 15 & 16 currently listed For Sale. We recommend this property be used only for passive open space including but not limited to benches and a garden keeping all existing trees.
    </p>
    <p>
    We now call upon the Mayor and Council in the City of Hoboken, New Jersey to acquire the property located at Block 15 Lots 12 & 13 where a fire occurred at the restaurant known as Nardine’s. This property should be used solely for open space including but not limited to a children’s playground.
    </p>
    <p>
    We call for funding to be provided by the Hudson County Open Space Trust Fund grant of $3 million that was allocated for open space in Southwest Hoboken in addition to funds from Hoboken’s Open Space Trust as necessary to complete the build out of these new public parks.
  </div>
  <ul>
  	<li class="btn btn-medium btn-primary"><%= link_to("Sign Petition", "http://www.change.org/petitions/city-of-hoboken-acquire-property-at-1st-and-jackson-streets-for-public-open-space-2", target: 'blank') %></li>
    <li id="close"><%= link_to("close window", "#") %></li>
  </ul>
</form>
