<div id="topline-block">
	<div class="topline">
		<div class="row">
			<span class="pull-left"><%= link_to "TimOcchipinti.com", root_path %></span>
			<%= render 'pages/register' %>
		</div>
	</div>
</div>