<div id="mailing-list">
<div class="row-fluid">
  <div class="span12">
<h5 class="text-center">Sign Up For Email Alerts:  </h5>
  </div>
</div>
<div class="row-fluid">
<div class="span12 text-center">
    <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" method="post" target="blank">
  <input type="hidden" name="m" value="1103157500718">
    <input type="hidden" name="p" value="oi">
    <input type="text" name="ea" placeholder="Your Email Address">
    <input type="submit" value="Sign Up" class="btn">
</form>
</div>
</div>
</div>